
{% load crispy_forms_tags %}

{% block head_extra %} 
{{ c_form.media }}
{% endblock head_extra %}


{% block create_chat %}
<div><small><i>{{ error_c_form }}</i></small></div>
<!-- <button type='button' id="write-msg" class='btn btn-default' value='Write Message' /> -->

<div class='container'>
    <div class="row">
    <h1>Chat</h1>
    <hr/>
        <div class="col-sm-12 col-sm-offset-2"> 
             
            <form method='POST' id='create_custom_chat_form' action='' enctype='multipart/form-data'>
                {{ c_form|crispy }}
            </form>
            <button type='button' data-to-url='{% url "chats:chat_create" %}' onclick="for_form_ccc(this)" class="btn btn-primary" role="button" >Create Custom Chat</button>

        </div>
    </div>
</div>
<div id='error-msg'></div>
{% endblock create_chat %}
