{% extends "base.html" %}
<!--  load urlify  -->
{% load crispy_forms_tags %}
{% load pool_extras %}
{% block head_title %}
{{ topic }} | {{ block.super }}
{% endblock head_title %}


 {% block mail_detail_link %}
  <li><a href='{{ instance.get_absolute_url }}'>{{ topic }}</a></li>
{% endblock mail_detail_link %}



{% block content %}
<div class='col-sm-6 col-sm-offset-3'>
    {% if instance.image %}
    <img src='{{ instance.image.url }}' class='img-responsive' />
    {% endif %} 
<h1>Topic: {{ topic }} <small>{{ instance.created }}</small></h1>
<hr/>
<!-- {% if instance.read_time|time:"i" <= "01" %} < 1 minute {% else %}{{ instance.read_time|time:"i" }} minutes {% endif %} -->


<p>Read time: {% if instance.read_time <= 1 %} < 1 Minute {% else %}{{ instance.read_time }} minutes {% endif %}</p>
<p><a href="{{ instance.sender.get_absolute_url }}">Author: {{ instance.sender.user.username }}</a></p>


<p>Has been send for: </p>
{% for receiver in instance.receivers.all|iterate_queryset %}
  <a href="{{ receiver.get_absolute_url }}">{{ receiver.user.username }}</a>{% if forloop.counter == instance.receivers.all|length %}.{% else %},{% endif %}
{% endfor %}

<p>{{ instance.get_markdown }}</p>

<!-- <p><div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div> -->
{% if request.user.is_authenticated %}
<!-- <h1> User auth: {{ request.user }}</h1> -->
  
  <!-- <p><a href="{{ instance.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>  -->
  <hr/>
  {% if request.user == instance.sender.user %}
    <p><a data-slug="{{ instance.slug }}" data-to-url="{{ instance.get_delete_url }}" data-detail='True' id="chat_operations" onclick="delete_mail(this)" class="btn btn-danger" role="button">DELETE</a></p>
  {% endif %}
<hr>

{% endif %}
<!-- </p> -->

{% endblock content %}