{% load pool_extras %}
<section class='container mail-list'>
    {% for obj in object_list %}
    <div class="{% if forloop.counter|divisibleby:2 %}row{% endif %}">
    <div class="col-lg-6 col-sm-6">
        <div class="thumbnail">
            {% if obj.image %}
            <img src='{{ obj.image.url }}' class='img-responsive' />
            {% endif %}
        <div class="caption mail-detail-item">
            <h3><a href='{{ obj.get_absolute_url }}'>{{ obj.topic }}</a> <small>{{ obj.created }}</small></h3>
            <p><a href="{{ obj.sender.get_absolute_url }}">Author: {{ obj.sender.user.username }}</a></p>
            <section class='receivers'>
                Has been send for: 
                {% for receiver in obj.receivers.all|iterate_queryset %}
                <a href="{{ receiver.get_absolute_url }}">{{ receiver.user.username }}</a>{% if forloop.counter == obj.receivers.all|length %}.{% else %},{% endif %}
                {% endfor %}
            </section>
            {{ obj.get_markdown|truncatechars_html:120 }}
            {% if request.user.is_authenticated %}
                {% if request.user == obj.sender.user %}
                    <p><a data-slug="{{ obj.slug }}" data-to-url="{{ obj.get_delete_url }}" id="chat_operations" onclick="delete_mail(this)" class="btn btn-danger" role="button">DELETE</a></p>
                {% endif %}
            {% endif %}
        </div>
        </div>
    </div>
    </div>
    <!-- <hr/> -->
    {% endfor %}
    </section>